*{
  text-decoration: none;
}
.demo{
  display: flex;
  flex-direction:row;
  margin-bottom: 15px !important;
}
.demo1{
  width: 80%;
}
.demo2{
  width: 20%;
  text-align: right;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
  width: 103%;
  
}

/* // Admin */
.jumbo{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbo1{
  border-radius: 25px;
  border: 2px solid #124256;
  box-shadow: 0 0 5px #124256;
  width: 30%;
  padding: 25px;
  text-align: center;
}

.css-1fv25mv-MuiButtonBase-root-MuiButton-root:hover{
  background-color:rgb(10, 15, 47) !important;
}
form {
    width: 100%;
}
form input{
  width: 90%;
  padding: 16.5px 14px;
  margin-bottom: 20px;
}
.w-33{
  width: 33%;
}
.d-flex{
  display: flex;
  justify-content:space-between ;
}
/* .css-1nxmd3h-MuiListItem-root{
  margin-left: 20px;
  text-align: center !important;
} */
.css-10hburv-MuiTypography-root {
    color:black;
}


/* //////// */
*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.section{
  width: 100%;
  min-height: 400px;
  position: relative;
  padding: 80px 0px 0px 0;
  text-align: center;
  align-items: center;
  background: url(https://bootstrapmade.com/demo/templates/FlexStart/assets/img/hero-bg.png) top center no-repeat;
  background-size: cover;
}
.section1{
   padding:100px 0 ;
}
.card{
  background-color: #ffffff;
  color: #444444;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  text-align: center;
  height: 100%;
}
.dashboard{
  background-color: #eef7fd;
}
.section2{
  padding: 70px 0 100px 0;
  /* background-color: #4154f1; */
}
.de{
  color:#124256;
}
